@use "../../assets//styles/variables.scss" as *;

.top-movies {
  padding: 40px 0 120px;

  &__title {
    font-size: 40px;
    line-height: 48px;
    color: $color-white;
    margin: 0 0 64px 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 40px;
  }

  &__item {
    height: 336px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

@media (max-width: 426px) {
  .top-movies {
    padding: 32px 0;

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 32px 0;
    }

    &__wrapper {
      padding: 40px 0;
      margin: -40px 0;

      .swiper {
        padding: 300px 18px;
        margin: -300px -18px;
      }

      .swiper-slide {
        min-height: 336px;
      }
    }
  }
}
