@use "../../assets/styles/variables.scss" as *;

.header {
  background-color: #0c1a2e;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    height: 96px;
    gap: 80px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &-list {
      display: flex;
      align-items: center;
      gap: 40px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-link {
      position: relative;
      font-size: 24px;
      line-height: 32px;
      color: $color-white;
      text-decoration: none;
      transition: color 0.3s ease;

      &::before {
        position: absolute;
        content: "";
        bottom: -6px;
        left: 0;
        height: 1.5px;
        width: 100%;
        transform: scaleX(0);
        background-color: $color-accent;
        transform-origin: bottom center;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: $color-accent;
      }

      &.active {
        color: $color-accent;
      }

      &:hover::before,
      &.active::before {
        transform: scaleX(1);
      }
    }
  }

  &__search {
    position: relative;
    width: 100%;

    &-icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-field {
      border: none;
      padding: 12px 16px 12px 52px;
      width: 100%;
      border-radius: 8px;
      background-color: #393b3c;
      font-family: inherit;
      font-size: 18px;
      line-height: 24px;
      color: $color-white;
      outline: none;

      &::placeholder {
        font-size: 18px;
        line-height: 24px;
        color: rgba($color: #ffffff, $alpha: 0.4);
      }
    }
  }

  &__btn-login {
    font-size: 24px;
    line-height: 32px;
    color: $color-white;
    padding: 5px 16px;
    background-color: transparent;
    border-radius: 50px;

    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.1);
    }
  }
}
