@use "../../assets/styles/variables" as *;

.account-page {
  padding: 64px 0 120px 0;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $color-white;
    margin: 0 0 64px 0;
  }

  &__sections {
    display: flex;
    gap: 32px;
    margin: 0 0 64px 0;

    &-btn {
      position: relative;
      border: none;
      color: $color-white;
      gap: 8px;
      background-color: transparent;
      padding: 6px 16px;
      border-radius: 20px;

      &.favorites svg path {
        fill: transparent;
        color: $color-white;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      & span {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
      }
    }
  }

  /* Favorites */
  &__favorites-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* Settings */
  &__user {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 64px 0;

    &-block {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-logo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-data {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-heading {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: $color-white;
      margin: 0;
    }

    &-subheading {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: $color-white;
      margin: 0;
    }
  }

  /* No favorites styles */
  &__no-favorites {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: $color-white;
    margin: 0 0 16px 0;
  }

  &__no-favorites-suggestion {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: rgba($color: #ffffff, $alpha: 0.5);
    margin: 0 0 24px 0;
  }

  &__btn-view-films {
    text-decoration: none;
  }
}
